body {
  background-color: #D6EAF8;
}

div {
  background-color: #c0dff4;
}

.card, .card-body {
  background-color: #D6EAF8;
  margin: 2px;
}

.content {
  background-color: #c0dff4;
}
.content h1 {
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  color: #8E44AD;
}
.content h2, .content p {
  color: #818181;
}
.content input {
  width: 90%;
  height: 7%;
}
.content button {
  background-color: #c0dff4;
  float: right;
}

.header h1 {
  padding-top: 20px;
  text-align: right;
  font-family: 'Festive', cursive;
}
.header button {
  background-color: #c0dff4;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #D6EAF8;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a :hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}
