$primary-color: #D6EAF8;
$text-color: #818181;

body{
    background-color: $primary-color;
}
@mixin theme($color: #D6EAF8){
    background-color: darken($color, 5%);


}

div{
    @include theme;
}



.card, .card-body{

    background-color: $primary-color;
    margin: 2px;
}

.content{

    @include theme;
    h1{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    color:#8E44AD;
    }
    h2, p{
        color: $text-color;
    }

    input{
        width: 90%;
        height: 7%;
    }

    button{

        @include theme;
        float: right;
        }

}

.header{

    h1{
    padding-top: 20px;
    text-align: right;
    font-family: 'Festive', cursive;
    }

    button{

        @include theme;
        }
}


.sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color:$primary-color; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 

    a{
        padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $text-color;
    display: block;
    transition: 0.3s;

    :hover{
         color: #f1f1f1;
    }
    }

    .closebtn{
       position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; 
    }
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }